In [ ]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn import metrics
import pandas as pd

In [ ]:
data=pd.read_csv("data/nba2021_advanced.csv")
data.head(6)

In [ ]:
data.tail(8)

## see data type

In [ ]:
## see data type
data.dtypes

In [ ]:
data.columns

## Drop Column

In [ ]:
#Dropping columns
train_data = data.drop(["OWS"], axis=1)

In [ ]:
train_data.head(6)

## How many null values?

In [ ]:
print("Train")
print(train_data.isnull().sum())

## Fill in NAs

### replace NAs with mean values

In [ ]:
## identify mean ages
mean_age = train_data["Age"].mean()
print("average age: %1.0f" %mean_age)

In [ ]:
## fill the nan values
train_data.loc[train_data["Age"].isnull(), "Age"] = mean_age

In [ ]:
train_data.head()

## Replace NAs with values

In [ ]:
train_data["Tm"] = train_data["Tm"].fillna("Retired")

In [ ]:
train_data.head()